/*
FONTS
*/
@font-face {
  font-family: CenturyGothic;
  src: url('../fonts/CenturyGothic.TTF');
}

* {
  margin: 0;
  background-position: center;
  background-size: cover;
  padding: 0;
}

body {
  margin: 0;
}

a, a:visited, a:link {
  text-decoration: none;
  color: white;
}

header {
  position: fixed;
  background: rgba(0,0,0,0.8);
  margin: 0;
  padding: 0;
  float: left;
  color: #fff;
  min-width: 100%;
  height: 50px;
}

h1, h2, p, footer {
  font-family: "Arial", "等线", sans-serif;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
}

#logo {
  background-image: url('../img/logo-s.svg');
  margin: 0;
  background-size: 40px;
  background-position: 4% center;
  background-repeat: no-repeat;
  padding: 10px 0px 10px 65px;
  float: left;
  font-size: 2em;
}

#nav-bar li {
  font-family: 'CenturyGothic', sans-seri;
  font-weight: bolder;
}

#nav-bar {
  margin: 0;
  padding: 0;
  float: right;
}

#nav-bar li {
  display: inline-block;
  width: 95px;
  text-align: center;
  list-style: none;
  font-size: 1.2em;
  padding: 14px 0 0 0;
  height: 50px;
  box-sizing: border-box;
/*  background-color: rgba(0,100,255,0.4);*/
  color: whfite;
  margin: 0px 0px;
  transition-duration: .5s;
}

#nav-bar li:hover {
  background-color: skyblue;
  color: black;
  transition-duration: .5s;
}

#nav-bar li:active {
  background-color: cadetblue;
  color: white;
  transition-duration: .5s;
}

#nav-bar .selected,
#nav-bar .selected:hover {
  background-color: aquamarine;
}

footer {
  text-align: center;
  line-height: 1.5;
  padding: 20px 0 10px;
  background-color: gray;
  color: white;
}

footer .wrapper {
  margin: 10px auto;
}

.footer-item {
  float: left;
  display: inline-block;
  list-style: none;
  text-align: left;
  width: 15%;
  margin: 0 2.28%;
}

.footer-head2 {
  font-weight: bold;
  margin: 15px 0 5px;
}

.footer-text {
  font-weight: lighter;
}

#copyright {
  clear: both;
  display: block;
  margin: 10px;
}

/*
INDEX PAGE
*/

/*
SECTION 1
*/

#section-1 {
  padding-top: 250px;
  text-align: center;
  box-sizing: border-box;
  height: 800px;
  
  font-size: 2em;
  
  clear: both;
  background: linear-gradient(#000, transparent 90%),
    linear-gradient(0deg, rgba(255,255,255,0.2) 40%,  transparent),
    black url('../img/index-section1.JPG') center no-repeat;
  background-size: cover;
}

#logo-s1 {
  max-height: 300px;
  margin-bottom: 40px;
}

#section-1 h2 {
  color: white;
  line-height: 1.2;
}

/*
SECTION CONTACT
*/

#contact {
  background-image: url('../img/index-contact.JPG');
  height: 500px;
}

#contact h2 {
  font-size: 3em;
  color: white;
  line-height: 1.2;
  padding: 100px;
}

#contact p {
  font-size: 1.5em;
  color: white;
  line-height: 1.9;
}