.card {
  color: white;
  text-align: center;
}

@media (min-width: 544px) {
  .hero {
    padding-top: 200px;
    height: 500px;
    font-size: 2em;
  }
  h1 {
    font-size: 3em;
  }
}

@media (max-width: 543px) {
  .hero {
    font-size: 1rem;
    height: auto;
    padding-top: 250px;
    padding-bottom: 20px;
  }
  h1 {
    font-size: 3em;
  }
  .card {
    height: auto;
  }
  .card h1 {
    margin-top: 20px;
    font-size: 2rem;
  }
}