@media (max-width: 1080px) {
  .wrapper {
    margin: 0 5%;
  }
}

@media (max-width: 960px) {
  header {
    position: inherit;  
    height: auto;
  }
  
  #logo {
    font-size: 1.5em;  
    background-size: 0px;
    margin: 0 0px;
    padding: 5px 0 0;
  }
  
  #nav-bar {
    float: none;
    text-align: center;
    padding: 10px 0px;
    height: auto;
  }
  
  #nav-bar li {
    font-size: 1.1em;
    margin: 0 auto;
    display: block;
    text-align: center;
    float: none;
    padding: 7px 0 0 0;
    height: 35px;
    width: 40%;
  }
  
  #nav-bar li:hover {
    width: 80%;
    transition-timing-function: ease;
  }
  
  
  #logo {
    float: none;
    text-align: center;
  }
  
  #section-1 {
    font-size: 1.5rem;
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  #logo-s1 {
    max-height: 200px;
    margin-bottom: 30px;
  }
  
  #contact {
    height: 300px;
  }
  
  #contact h2 {
    font-size: 1.5rem;
    padding: 45px 0;
  }
  
  #contact p {
    font-size: 1.2rem;
    padding: 5px;
  }
  
  
}
