#hero {
  background-image: url("../img/service-hero.JPG");
}

#hero a {
  color: black;
}

#collapseExample {
  color: black;
  background-color: rgba(0, 0, 0, 0.2);
}

#collapseExample .inside-btn {
  width: 10%;
}

.card {
  /*  height: 500px;*/
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.card h1 {
  margin-top: 50px;
  color: white;
}

.card .btn {
  width: 300px;
  height: 40px;
  border-radius: 0;
  border: 0;
  margin: auto;
  display: block;
}

.card .btn:hover {
  background-color: deepskyblue;
  border: 0;
  color: white;
}

.card .btn * {
  padding: 14px;
  line-height: 0;
  font-size: 1.em;
}

.content-div {
  margin-top: 90px;
}

#vr img {
  width: 70%;
}

#ve img {
  width: 70px;
}

@media (min-width: 544px) {
  #hero {
    padding-top: 200px;
    height: 500px;
    font-size: 2em;
  }
  h1 {
    font-size: 3em;
  }
}

@media (max-width: 543px) {
  #hero {
    font-size: 1rem;
    height: auto;
    padding-top: 250px;
    padding-bottom: 20px;
  }
  h1 {
    font-size: 3em;
  }
  .card {
    height: auto;
  }
  .card h1 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .card .btn {
    width: 160px;
  }
  .content-div {
    margin-top: 20px;
  }
  #vr div div {
    display: inline-block;
    width: 40%;
  }
  #vr img {
    width: 100%;
  }
  #ve img {
    width: 50px;
  }
  .content-div div {
    margin-top: 40px;
  }
}