#nav-logo {
  width: 50px;
}


/*
.navbar-brand {
  background-image: url('../img/logo-s.svg');
  background-position: left;
  background-size: 30px;
  background-repeat: no-repeat;
}
*/

#navbar-logo {
  height: 37px;
}


/*
#main {
  background: linear-gradient(44deg, rgb(2, 255, 255), rgb(0, 100, 100));
  background-size: cover;
  height: 100vh;
}*/

.btn,
.btn:hover {
  transition: .5s;
}
/*

html {
  font-size: 12px;
}

@media (max-width: @screen-sm) {
  html {
    font-size: 16px;
  }
}

@media (max-width: @screen-md) {
  html {
    font-size: 20px;
  }
}

@media (max-width: @screen-lg) {
  html {
    font-size: 100px;
  }
}*/
