video {
  width: 100%;
}

.hero {
  height: auto;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), transparent 90%);
  position: relative;
}

.hero h1 {
  position: absolute;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  text-shadow: 0 0 5px #bbb, 0 0 10px #ccc, 0 0 15px #ddd;
  color: white;
}

.text-title {
  margin-top: 1em;
  margin-bottom: 0;
}

.tag {
  margin: 0;
  font-size: 1em;
  margin: 0;
}

.text-time {
  color: gray;
  margin: 0;
}

.text-intro {
  font-size: 1.2em;
  margin: 1em 0;
  /*  font-family: ;*/
}

h3 {
  background-color: gray;
  color: white;
  padding: .2em .2em;
  font-size: 1.3em;
  margin: 0;
}

p {
  margin: 0;
}

@media (max-width: 540px) {
  header {
    top: 0px;
  }
  .hero {
    margin-top: 45px;
  }
  .hero h1 {
    font-size: 1em;
    /*    top: 50%;*/
    bottom: 50px;
  }
  .text-title {
    font-size: 1.8em;
  }
}

@media (max-width: 990px) {
  header {
    top: 0px;
  }
  .hero {
    margin-top: 45px;
  }
  .hero h1 {
    font-size: 2.5em;
    /*    top: 40%;*/
    bottom: 50px;
  }
}