<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	showOpenButton="true"
	useFullscreenExpand="true"
	galleryTitle="Rehearse"

>
  <image imageURL="images/SMS_0074.jpg"
	thumbURL="thumbs/SMS_0074.jpg"
	linkURL="images/SMS_0074.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\SMS_0074.jpg">
    <title><![CDATA[SMS_0074]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0078.jpg"
	thumbURL="thumbs/SMS_0078.jpg"
	linkURL="images/SMS_0078.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\SMS_0078.jpg">
    <title><![CDATA[SMS_0078]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0113.jpg"
	thumbURL="thumbs/SMS_0113.jpg"
	linkURL="images/SMS_0113.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\SMS_0113.jpg">
    <title><![CDATA[SMS_0113]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0190.jpg"
	thumbURL="thumbs/SMS_0190.jpg"
	linkURL="images/SMS_0190.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\SMS_0190.jpg">
    <title><![CDATA[SMS_0190]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0215.jpg"
	thumbURL="thumbs/SMS_0215.jpg"
	linkURL="images/SMS_0215.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\SMS_0215.jpg">
    <title><![CDATA[SMS_0215]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0273.jpg"
	thumbURL="thumbs/SMS_0273.jpg"
	linkURL="images/SMS_0273.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\SMS_0273.jpg">
    <title><![CDATA[SMS_0273]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0282.jpg"
	thumbURL="thumbs/Drama_0282.jpg"
	linkURL="images/Drama_0282.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0282.jpg">
    <title><![CDATA[Drama_0282]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0297.jpg"
	thumbURL="thumbs/Drama_0297.jpg"
	linkURL="images/Drama_0297.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0297.jpg">
    <title><![CDATA[Drama_0297]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0300.jpg"
	thumbURL="thumbs/Drama_0300.jpg"
	linkURL="images/Drama_0300.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0300.jpg">
    <title><![CDATA[Drama_0300]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0332.jpg"
	thumbURL="thumbs/Drama_0332.jpg"
	linkURL="images/Drama_0332.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0332.jpg">
    <title><![CDATA[Drama_0332]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0345.jpg"
	thumbURL="thumbs/Drama_0345.jpg"
	linkURL="images/Drama_0345.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0345.jpg">
    <title><![CDATA[Drama_0345]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0366.jpg"
	thumbURL="thumbs/Drama_0366.jpg"
	linkURL="images/Drama_0366.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0366.jpg">
    <title><![CDATA[Drama_0366]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0367.jpg"
	thumbURL="thumbs/Drama_0367.jpg"
	linkURL="images/Drama_0367.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0367.jpg">
    <title><![CDATA[Drama_0367]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0374.jpg"
	thumbURL="thumbs/Drama_0374.jpg"
	linkURL="images/Drama_0374.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0374.jpg">
    <title><![CDATA[Drama_0374]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0392.jpg"
	thumbURL="thumbs/Drama_0392.jpg"
	linkURL="images/Drama_0392.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0392.jpg">
    <title><![CDATA[Drama_0392]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0398.jpg"
	thumbURL="thumbs/Drama_0398.jpg"
	linkURL="images/Drama_0398.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0398.jpg">
    <title><![CDATA[Drama_0398]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0410.jpg"
	thumbURL="thumbs/Drama_0410.jpg"
	linkURL="images/Drama_0410.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0410.jpg">
    <title><![CDATA[Drama_0410]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0448.jpg"
	thumbURL="thumbs/Drama_0448.jpg"
	linkURL="images/Drama_0448.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0448.jpg">
    <title><![CDATA[Drama_0448]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0453.jpg"
	thumbURL="thumbs/Drama_0453.jpg"
	linkURL="images/Drama_0453.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0453.jpg">
    <title><![CDATA[Drama_0453]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0459.jpg"
	thumbURL="thumbs/Drama_0459.jpg"
	linkURL="images/Drama_0459.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0459.jpg">
    <title><![CDATA[Drama_0459]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0460.jpg"
	thumbURL="thumbs/Drama_0460.jpg"
	linkURL="images/Drama_0460.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0460.jpg">
    <title><![CDATA[Drama_0460]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0468.jpg"
	thumbURL="thumbs/Drama_0468.jpg"
	linkURL="images/Drama_0468.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0468.jpg">
    <title><![CDATA[Drama_0468]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0469.jpg"
	thumbURL="thumbs/Drama_0469.jpg"
	linkURL="images/Drama_0469.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0469.jpg">
    <title><![CDATA[Drama_0469]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0471.jpg"
	thumbURL="thumbs/Drama_0471.jpg"
	linkURL="images/Drama_0471.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0471.jpg">
    <title><![CDATA[Drama_0471]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0472.jpg"
	thumbURL="thumbs/Drama_0472.jpg"
	linkURL="images/Drama_0472.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0472.jpg">
    <title><![CDATA[Drama_0472]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0475.jpg"
	thumbURL="thumbs/Drama_0475.jpg"
	linkURL="images/Drama_0475.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0475.jpg">
    <title><![CDATA[Drama_0475]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0507.jpg"
	thumbURL="thumbs/Drama_0507.jpg"
	linkURL="images/Drama_0507.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0507.jpg">
    <title><![CDATA[Drama_0507]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0536.jpg"
	thumbURL="thumbs/Drama_0536.jpg"
	linkURL="images/Drama_0536.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0536.jpg">
    <title><![CDATA[Drama_0536]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0557.jpg"
	thumbURL="thumbs/Drama_0557.jpg"
	linkURL="images/Drama_0557.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0557.jpg">
    <title><![CDATA[Drama_0557]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0575.jpg"
	thumbURL="thumbs/Drama_0575.jpg"
	linkURL="images/Drama_0575.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0575.jpg">
    <title><![CDATA[Drama_0575]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0589.jpg"
	thumbURL="thumbs/Drama_0589.jpg"
	linkURL="images/Drama_0589.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0589.jpg">
    <title><![CDATA[Drama_0589]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0639.jpg"
	thumbURL="thumbs/Drama_0639.jpg"
	linkURL="images/Drama_0639.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0639.jpg">
    <title><![CDATA[Drama_0639]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0641.jpg"
	thumbURL="thumbs/Drama_0641.jpg"
	linkURL="images/Drama_0641.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0641.jpg">
    <title><![CDATA[Drama_0641]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0689.jpg"
	thumbURL="thumbs/Drama_0689.jpg"
	linkURL="images/Drama_0689.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Practice\Drama_0689.jpg">
    <title><![CDATA[Drama_0689]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>