<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="Rehearsal"

>
  <image imageURL="images/SMS_0375.jpg"
	thumbURL="thumbs/SMS_0375.jpg"
	linkURL="images/SMS_0375.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0375.jpg">
    <title><![CDATA[SMS_0375]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0424.jpg"
	thumbURL="thumbs/SMS_0424.jpg"
	linkURL="images/SMS_0424.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0424.jpg">
    <title><![CDATA[SMS_0424]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0428.jpg"
	thumbURL="thumbs/SMS_0428.jpg"
	linkURL="images/SMS_0428.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0428.jpg">
    <title><![CDATA[SMS_0428]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0441.jpg"
	thumbURL="thumbs/SMS_0441.jpg"
	linkURL="images/SMS_0441.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0441.jpg">
    <title><![CDATA[SMS_0441]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0478.jpg"
	thumbURL="thumbs/SMS_0478.jpg"
	linkURL="images/SMS_0478.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0478.jpg">
    <title><![CDATA[SMS_0478]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0484.jpg"
	thumbURL="thumbs/SMS_0484.jpg"
	linkURL="images/SMS_0484.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0484.jpg">
    <title><![CDATA[SMS_0484]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0493.jpg"
	thumbURL="thumbs/SMS_0493.jpg"
	linkURL="images/SMS_0493.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0493.jpg">
    <title><![CDATA[SMS_0493]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0520.jpg"
	thumbURL="thumbs/SMS_0520.jpg"
	linkURL="images/SMS_0520.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0520.jpg">
    <title><![CDATA[SMS_0520]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0529.jpg"
	thumbURL="thumbs/SMS_0529.jpg"
	linkURL="images/SMS_0529.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0529.jpg">
    <title><![CDATA[SMS_0529]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0532.jpg"
	thumbURL="thumbs/SMS_0532.jpg"
	linkURL="images/SMS_0532.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0532.jpg">
    <title><![CDATA[SMS_0532]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0537.jpg"
	thumbURL="thumbs/SMS_0537.jpg"
	linkURL="images/SMS_0537.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0537.jpg">
    <title><![CDATA[SMS_0537]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/SMS_0550.jpg"
	thumbURL="thumbs/SMS_0550.jpg"
	linkURL="images/SMS_0550.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\[2016.6.1]A Midsummer's Night排练\SMS_0550.jpg">
    <title><![CDATA[SMS_0550]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>