<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	useFullscreenExpand="true"

>
  <image imageURL="images/20170215_102032847_iOS.jpg"
	thumbURL="thumbs/20170215_102032847_iOS.jpg"
	linkURL="images/20170215_102032847_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170215_102032847_iOS.jpg">
    <title><![CDATA[20170215_102032847_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170215_102041089_iOS.jpg"
	thumbURL="thumbs/20170215_102041089_iOS.jpg"
	linkURL="images/20170215_102041089_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170215_102041089_iOS.jpg">
    <title><![CDATA[20170215_102041089_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170215_102213640_iOS.jpg"
	thumbURL="thumbs/20170215_102213640_iOS.jpg"
	linkURL="images/20170215_102213640_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170215_102213640_iOS.jpg">
    <title><![CDATA[20170215_102213640_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0756.jpg"
	thumbURL="thumbs/Drama_0756.jpg"
	linkURL="images/Drama_0756.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0756.jpg">
    <title><![CDATA[Drama_0756]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0761.jpg"
	thumbURL="thumbs/Drama_0761.jpg"
	linkURL="images/Drama_0761.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0761.jpg">
    <title><![CDATA[Drama_0761]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0774.jpg"
	thumbURL="thumbs/Drama_0774.jpg"
	linkURL="images/Drama_0774.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0774.jpg">
    <title><![CDATA[Drama_0774]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0780.jpg"
	thumbURL="thumbs/Drama_0780.jpg"
	linkURL="images/Drama_0780.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0780.jpg">
    <title><![CDATA[Drama_0780]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0798.jpg"
	thumbURL="thumbs/Drama_0798.jpg"
	linkURL="images/Drama_0798.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0798.jpg">
    <title><![CDATA[Drama_0798]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0838.jpg"
	thumbURL="thumbs/Drama_0838.jpg"
	linkURL="images/Drama_0838.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0838.jpg">
    <title><![CDATA[Drama_0838]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0884.jpg"
	thumbURL="thumbs/Drama_0884.jpg"
	linkURL="images/Drama_0884.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0884.jpg">
    <title><![CDATA[Drama_0884]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0895.jpg"
	thumbURL="thumbs/Drama_0895.jpg"
	linkURL="images/Drama_0895.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0895.jpg">
    <title><![CDATA[Drama_0895]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0906.jpg"
	thumbURL="thumbs/Drama_0906.jpg"
	linkURL="images/Drama_0906.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0906.jpg">
    <title><![CDATA[Drama_0906]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0911.jpg"
	thumbURL="thumbs/Drama_0911.jpg"
	linkURL="images/Drama_0911.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0911.jpg">
    <title><![CDATA[Drama_0911]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Drama_0920.jpg"
	thumbURL="thumbs/Drama_0920.jpg"
	linkURL="images/Drama_0920.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\Drama_0920.jpg">
    <title><![CDATA[Drama_0920]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041237854_iOS.jpg"
	thumbURL="thumbs/20170217_041237854_iOS.jpg"
	linkURL="images/20170217_041237854_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041237854_iOS.jpg">
    <title><![CDATA[20170217_041237854_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041240899_iOS.jpg"
	thumbURL="thumbs/20170217_041240899_iOS.jpg"
	linkURL="images/20170217_041240899_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041240899_iOS.jpg">
    <title><![CDATA[20170217_041240899_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041243246_iOS.jpg"
	thumbURL="thumbs/20170217_041243246_iOS.jpg"
	linkURL="images/20170217_041243246_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041243246_iOS.jpg">
    <title><![CDATA[20170217_041243246_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041244347_iOS.jpg"
	thumbURL="thumbs/20170217_041244347_iOS.jpg"
	linkURL="images/20170217_041244347_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041244347_iOS.jpg">
    <title><![CDATA[20170217_041244347_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041256625_iOS.jpg"
	thumbURL="thumbs/20170217_041256625_iOS.jpg"
	linkURL="images/20170217_041256625_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041256625_iOS.jpg">
    <title><![CDATA[20170217_041256625_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041316610_iOS.jpg"
	thumbURL="thumbs/20170217_041316610_iOS.jpg"
	linkURL="images/20170217_041316610_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041316610_iOS.jpg">
    <title><![CDATA[20170217_041316610_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041319012_iOS.jpg"
	thumbURL="thumbs/20170217_041319012_iOS.jpg"
	linkURL="images/20170217_041319012_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041319012_iOS.jpg">
    <title><![CDATA[20170217_041319012_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041327618_iOS.jpg"
	thumbURL="thumbs/20170217_041327618_iOS.jpg"
	linkURL="images/20170217_041327618_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041327618_iOS.jpg">
    <title><![CDATA[20170217_041327618_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20170217_041330492_iOS.jpg"
	thumbURL="thumbs/20170217_041330492_iOS.jpg"
	linkURL="images/20170217_041330492_iOS.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Mars Tan\Desktop\RJ export\Together\20170217_041330492_iOS.jpg">
    <title><![CDATA[20170217_041330492_iOS]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>